.split-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, -30%);
  z-index: 10;
  width: 70%; /* Wider button */
}

.split-book-btn {
  border-radius: 0; /* Remove rounded corners */
  width: 100%; /* Fill container width */
  padding: 0.3rem 0.5rem; /* Small vertical height */
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
